.logo {
  cursor: pointer;
}

.toolbar {
  height: 77px;
  padding: 0px 30px;
  background: #3f51b5;
  color: #fff;
}

.user-menu {
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  .toolbar {
    padding: 0px 10px;
  }
}
