<h1 mat-dialog-title>{{ "password.edit" | translate }}</h1>
<div mat-dialog-content>
  <form #passwordForm="ngForm">
    <mat-form-field class="w-100">
      <input
        matInput
        type="password"
        placeholder="{{ 'password.old' | translate }}"
        name="oldPassword"
        required
        #oldPassword="ngModel"
        [(ngModel)]="passwords.oldPassword"
      />
      <mat-error
        *ngIf="
          oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)
        "
      >
        <div *ngIf="oldPassword.errors.required">
          {{ "error.field-required" | translate }}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input
        matInput
        type="password"
        placeholder="{{ 'password.new' | translate }}"
        name="newPassword"
        required
        minlength="8"
        #newPassword="ngModel"
        [(ngModel)]="passwords.newPassword"
      />
      <mat-error
        *ngIf="
          newPassword.invalid && (newPassword.dirty || newPassword.touched)
        "
      >
        <div *ngIf="newPassword.errors.required">
          {{ "error.field-required" | translate }}
        </div>
        <div *ngIf="newPassword.errors.minlength">
          {{ "error.password-size" | translate }}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input
        matInput
        type="password"
        placeholder="{{ 'password.confirm' | translate }}"
        name="confirmPassword"
        required
        #confirmPassword="ngModel"
        [(ngModel)]="passwords.confirmPassword"
      />
      <mat-error
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
      >
        <div *ngIf="confirmPassword.errors.required">
          {{ "error.field-required" | translate }}
        </div>
      </mat-error>
    </mat-form-field>
    <div
      class="d-flex"
      *ngIf="
        newPassword.value !== confirmPassword.value &&
        !confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched)
      "
    >
      <small class="warn" style="margin-top: -20px;">{{
        "error.invalid-confirmation" | translate
      }}</small>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mt-3">
  <button mat-raised-button class="cancel-button" (click)="onCancel()">
    {{ "general.cancel" | translate }}
  </button>
  <button
    mat-raised-button
    (click)="onConfirm()"
    [disabled]="
      !passwordForm.valid || newPassword.value !== confirmPassword.value
    "
  >
    {{ "general.confirm" | translate }}
  </button>
</div>
