<div class="home-container">
  <mat-sidenav-container class="home-sidenav-container">
    <mat-sidenav
      #sidenav
      class="mat-elevation-z2"
      mode="side"
      [opened]="true"
      fixedTopGap="56"
    >
      <div class="d-flex w-100 justify-content-center mb-4">
        <img
          src="assets/logo/blue-transparent.svg"
          alt="MEAN"
          class="logo"
          [style.width.px]="120"
        />
      </div>
      <mat-nav-list class="p-2">
        <a mat-list-item routerLink="/users" routerLinkActive="active">
          <mat-icon class="mr-2" aria-hidden="false" aria-label="User"
            >person</mat-icon
          >
          {{ "sidenav.users" | translate }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="d-flex flex-column">
      <app-menu class="app-menu" (toggleSidenav)="sidenav.toggle()"></app-menu>
      <div class="container-fluid home-route">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
